<div class="flex flex-col">
    <div class="author">
        <h1 class="author_name"></h1>
        <p class="author_comment"></p>
    </div>

    <!-- <img src="path.jpg" alt="path through field to the clouds" class="author_photo m-0 m-auto pb-10" width="220"
        height="112"> -->

    <section class="articles">
        <h2 class="articles_title font-bold text-xl ml-32"> Latest Posts</h2>
        <ul class="mt-6 post">
            <li>
                <a>
                    <span class="ml-52 text-lg">Post Title</span>
                    <div class="ml-vw">
                        <span class="font-light text-sm post_date">Date</span>
                    </div>
                </a>
            </li>
        </ul>
        <div class="ml-52 mt-6">
            <a class="text-sm font-light previous underline underline-offset-4">...Older</a>
        </div>
    </section>

</div>