<link rel="stylesheet" href="../css/style_min.css">
<script type="text/javascript" defer src="../js/script.js"></script>
<article class="mt-24">
    <div class="flex justify-center items-center text-center">
        <span class="text-r-l whitespace-nowrap hover:text-zinc-400">
            <%= post_data.title %>
        </span>
    </div>
    <div class="flex m-0 m-auto w-7/12">
        <p class="my-2 text-r-m posts">
            <%= post_data.body %>
        </p>
    </div>
    <div class="flex justify-center items-center text-center">
        <span class="font-light text-r-s post_date">
            - <%= post_data.date.toDateString() %>
        </span>
    </div>
</article>