<footer class="fixed bottom-0 bg-gradient-to-b from-neutral-950 to-zinc-800 h-[3.2rem] flex mt-10 w-full z-50">
    <ul class="m-0 my-6 m-auto">
        <li>
            <a href="" class="text-r-s font-semibold hover:text-zinc-400">About</a>
        </li>
    </ul>
</footer>