<footer class="border-solid border-t-4 border-t-stone-800 flex mt-10 w-full">
    <ul class="m-0  mt-10 m-auto">
        <li>
            <a href="" class="font-semibold">About</a>
        </li>
    </ul>
</footer>