<link rel="stylesheet" href="css/style_min.css">
<!-- <script type="text/javascript" defer src="js/script.js"></script> -->
<header class="bg-gradient-to-b from-zinc-700 to-neutral-950 fixed top-0 mb-10 w-full z-50">
    <ul class="flex">
        <li>
            <a href="/">
                <h1 class="mongox text-4xl font-bold p-4">
                    <%= meta.name %>
                </h1>
            </a>
        </li>
    </ul>
</header>