<header class="w-full">
    <ul class="flex flex-row">
        <li>
            <a href="">
                <h1 class="text-2xl font-bold p-4">
                    <%= meta.name %>
                </h1>
            </a>
        </li>
        <div class="flex flex-row">
            <input
                class=" bg-gray-200 h-9  font-light focus:outline-none focus:shadow-[inset_0_1px_1px_0_rgba(0,0,0,0.5)] mr-0 pl-4 relative rounded-xl leading-3 w-8/12"
                type="text" placeholder="Search">
            <div id="search" class="pr-5">
                <button class="bg-gray-600 p-2 flex content-center hover:bg-gray-700 h-8 rounded-xl mr-0 w-9">
                    <svg class="text-white h-8 pb-4 w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                        fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd" />
                    </svg>
            </div>
            </button>
        </div>
    </ul>
</header>