<link rel="stylesheet" href="../../css/style_min.css">
<!-- <script type="text/javascript" defer src="../../js/script.js"></script> -->
<header class="bg-gradient-to-b from-zinc-700 to-neutral-950 fixed top-0 mb-10 w-full z-50">
    <ul class="flex">
        <li class="mr-[-2.4rem] md:mr-8">
            <a href="/">
                <h1 class="mongox text-4xl font-bold p-4">
                    <%= meta.name %>
                </h1>
            </a>
        </li>
        <div class="absolute flex top-0 right-0">
            <li class="relative mt-[1.9rem] text-r-m hover:text-zinc-400" id="profile_butt">
                <a href="/users/profile">
                    Profile
                </a>
            </li>
            <li class="relative mt-[1.9rem] ml-5 mr-4 text-r-m hover:text-zinc-400">
                <a href="/logout">
                    Logout
                </a>
            </li>
        </div>
    </ul>
</header>