<header class="bg-gradient-to-b from-neutral-700 to-black fixed top-0 mb-10 w-full z-50">
    <ul class="flex border-solid border-b-4 border-b-stone-800">
        <li>
            <a href="/">
                <h1 class="text-4xl font-bold p-4">
                    <%= meta.name %>
                </h1>
            </a>
        </li>
        <div class="mr-4">
            <form class="items-center flex relative  search_form" method="POST">
                <input
                    class=" bg-gray-200 h-9 focus:outline-none focus:shadow-[inset_0_1px_1px_0_rgba(50,50,50,0.9)] text-xs text-gray-950 mr-0 px-4 relative rounded-xl leading-3 w-9/12"
                    type="search" aria-label="Search" id="search_inp" name="search_inp" placeholder="Search">
                <div id="search">
                    <button class=" p-2 flex h-8 mb-2 ml-7 mr-0 w-9">
                        <svg class="text-white h-6 w-7 hover:text-zinc-400" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </ul>
</header>