<header class="bg-gradient-to-b from-neutral-700 to-black fixed top-0 mb-10 w-full z-50">
    <ul class="flex border-solid border-b-4 border-b-stone-800">
        <li>
            <a href="/">
                <h1 class="text-4xl font-bold p-4">
                    <%= meta.name %>
                </h1>
            </a>
        </li>
    </ul>
</header>