<section class="mt-28">
    <a href="../profile" class="text text-sm ml-5 underline underline-offset-4 hover:text-zinc-400">&larr;
        Back</a>
    <div class="items-center justify-center flex text-center">
        <ul>
            <form action="/edit/<%= post_data._id %>?_method=PATCH" method="POST">

                <label for="title">
                    <span class="text-[clamp(0.85rem,2.5vw,0.95rem)] mr-2">Title</span>
                </label>
                <input type="text" name="title" value="<%= post_data.title  %>" id="title"
                    class="bg-gray-200 h-9 focus:outline-none focus:shadow-[inset_0_1px_1px_0_rgba(50,50,50,0.9)] text-xs text-gray-950 px-4 mt-3 rounded-xl min-w-[80%] w-9/12">
                </li>
                <li class="mt-8">
                    <textarea cols="50" rows="10" name="content" id="content"
                        class="bg-gray-200 h-[40vh] focus:outline-none focus:shadow-[inset_0_1px_1px_0_rgba(50,50,50,0.9)] text-xs p-4 text-gray-950 rounded-xl w-[50vw]"><%= post_data.body  %></textarea>
                </li>
                <button type="submit" value="update" id="edit_sub"
                    class="border-solid border-white border-[1px] mt-5 text-[clamp(0.85rem,2.5vw,0.95rem)] p-2 rounded-xl hover:text-zinc-400 update-btn">Update</button>
                <button type="submit" value="update"
                    class="border-solid border-white border-[1px] hidden mt-5 text-[clamp(0.75rem,2.5vw,0.85rem)] p-2 relative rounded-xl hover:text-zinc-400 responsive-update-btn">Update</button>
            </form>
        </ul>
    </div>
</section>

<script>
    function _0xd44d() { const _0x2ad9ac = ['preventDefault', 'length', '407nsYSMt', 'querySelector', 'display', 'Title\x20can\x27t\x20be\x20empty', 'submit', 'addEventListener', '2352144bZYoZV', '534790kycCcD', '65tFQNhR', 'Please\x20use\x20more\x20than\x204\x20characters\x20in\x20your\x20title', 'Please\x20use\x20more\x20less\x20than\x204000\x20characters\x20for\x20your\x20content', '2fNwVYd', '#content', '1407mQPqox', '123996ZXUiuU', 'value', '2004261IZdeZP', 'click', '#profile_butt', 'style', '343403RGCULq', '1510362UTZhHl', 'Please\x20use\x20less\x20than\x2028\x20characters\x20in\x20your\x20title', '3244svFHZE']; _0xd44d = function () { return _0x2ad9ac; }; return _0xd44d(); } const _0x502f70 = _0x5e03; (function (_0x3eeb27, _0x34a547) { const _0x2c20a1 = _0x5e03, _0x5aebfd = _0x3eeb27(); while (!![]) { try { const _0x428936 = -parseInt(_0x2c20a1(0x84)) / 0x1 * (parseInt(_0x2c20a1(0x7b)) / 0x2) + -parseInt(_0x2c20a1(0x7d)) / 0x3 * (parseInt(_0x2c20a1(0x6d)) / 0x4) + parseInt(_0x2c20a1(0x78)) / 0x5 * (-parseInt(_0x2c20a1(0x7e)) / 0x6) + -parseInt(_0x2c20a1(0x80)) / 0x7 + -parseInt(_0x2c20a1(0x76)) / 0x8 + -parseInt(_0x2c20a1(0x6b)) / 0x9 + -parseInt(_0x2c20a1(0x77)) / 0xa * (-parseInt(_0x2c20a1(0x70)) / 0xb); if (_0x428936 === _0x34a547) break; else _0x5aebfd['push'](_0x5aebfd['shift']()); } catch (_0x1c0ccb) { _0x5aebfd['push'](_0x5aebfd['shift']()); } } }(_0xd44d, 0x3a240)); function _0x5e03(_0x506324, _0x1b95d2) { const _0xd44d09 = _0xd44d(); return _0x5e03 = function (_0x5e0356, _0x484cb6) { _0x5e0356 = _0x5e0356 - 0x6b; let _0x583065 = _0xd44d09[_0x5e0356]; return _0x583065; }, _0x5e03(_0x506324, _0x1b95d2); } const profile_butt = document[_0x502f70(0x71)](_0x502f70(0x82)), title = document[_0x502f70(0x71)]('#title'), content = document['querySelector'](_0x502f70(0x7c)), edit_sub = document['querySelector']('#edit_sub'); profile_butt[_0x502f70(0x83)][_0x502f70(0x72)] = 'none', edit_sub[_0x502f70(0x75)](_0x502f70(0x81), function (_0x185806) { const _0x3aa304 = _0x502f70; if (title[_0x3aa304(0x7f)] == '') _0x185806[_0x3aa304(0x6e)](), alert(_0x3aa304(0x73)); else { if (title[_0x3aa304(0x7f)][_0x3aa304(0x6f)] <= 0x4) _0x185806[_0x3aa304(0x6e)](), alert(_0x3aa304(0x79)); else { if (title[_0x3aa304(0x7f)][_0x3aa304(0x6f)] >= 0x1c) _0x185806[_0x3aa304(0x6e)](), alert(_0x3aa304(0x6c)); else { if (content[_0x3aa304(0x7f)] == '') _0x185806['preventDefault'](), alert('Content\x20can\x27t\x20be\x20empty'); else { if (content[_0x3aa304(0x7f)][_0x3aa304(0x6f)] < 0x14) _0x185806[_0x3aa304(0x6e)](), alert('Please\x20use\x20more\x20than\x2020\x20characters\x20for\x20your\x20content'); else content[_0x3aa304(0x7f)]['length'] > 0xfa0 ? (_0x185806[_0x3aa304(0x6e)](), alert(_0x3aa304(0x7a))) : edit_sub[_0x3aa304(0x74)](); } } } } });
</script>