<form action="/forgot_passw" method="POST" class="my-[40vh]">
    <div class="flex justify-center items-center text-center">
        <input type="email" placeholder="Enter your email" name="email" id="forgot_email" required
            class="bg-gray-200 h-9 focus:outline-none focus:shadow-[inset_0_1px_1px_0_rgba(50,50,50,0.9)] text-sm text-gray-950 px-4 rounded-xl mt-3 mb-6 leading-3 w-56">
    </div>
    <div class="flex justify-center items-center text-center">
        <button id="forgot_butt"
            class="border-solid border-white border-[1px] p-2 mb-margin-about rounded-xl hover:text-zinc-400">Send
            Reset Link</button>
    </div>
</form>

<script>
    const _0x5b703e = _0x5016; function _0x5016(_0x43ee59, _0x3784a0) { const _0x2430f3 = _0x2430(); return _0x5016 = function (_0x5016bb, _0x3c85e2) { _0x5016bb = _0x5016bb - 0x107; let _0x4749b9 = _0x2430f3[_0x5016bb]; return _0x4749b9; }, _0x5016(_0x43ee59, _0x3784a0); } (function (_0x1680cb, _0x2311ed) { const _0x3d658d = _0x5016, _0x2db4d2 = _0x1680cb(); while (!![]) { try { const _0x3cd8ea = -parseInt(_0x3d658d(0x10a)) / 0x1 + parseInt(_0x3d658d(0x113)) / 0x2 + -parseInt(_0x3d658d(0x108)) / 0x3 * (-parseInt(_0x3d658d(0x115)) / 0x4) + -parseInt(_0x3d658d(0x10b)) / 0x5 + -parseInt(_0x3d658d(0x10c)) / 0x6 + -parseInt(_0x3d658d(0x114)) / 0x7 + -parseInt(_0x3d658d(0x107)) / 0x8 * (-parseInt(_0x3d658d(0x109)) / 0x9); if (_0x3cd8ea === _0x2311ed) break; else _0x2db4d2['push'](_0x2db4d2['shift']()); } catch (_0x12320e) { _0x2db4d2['push'](_0x2db4d2['shift']()); } } }(_0x2430, 0x875fa)); function _0x2430() { const _0x5a311a = ['40382hqtCeZ', '3972262WbvEaE', '297584zRWILa', '#forgot_email', '4640520NIrdna', '33cqLXXI', '27SFAaRb', '211612AHKbps', '4856045iDjTkC', '1643790JROZwd', 'querySelector', '#forgot_butt', 'addEventListener', 'Please\x20enter\x20your\x20email', 'value', 'trim']; _0x2430 = function () { return _0x5a311a; }; return _0x2430(); } const forgot_email = document['querySelector'](_0x5b703e(0x116)), forgot_butt = document[_0x5b703e(0x10d)](_0x5b703e(0x10e)); forgot_email[_0x5b703e(0x10f)]('input', function (_0x3c8f3b) { const _0x539a55 = _0x5b703e; forgot_email[_0x539a55(0x111)] = forgot_email['value'][_0x539a55(0x112)](); }), forgot_butt['addEventListener']('click', function (_0x493336) { const _0x3a7ac2 = _0x5b703e; if (forgot_email[_0x3a7ac2(0x111)] == '') _0x493336['preventDefault'](), alert(_0x3a7ac2(0x110)); else return !![]; });
</script>