<div class="break-words flex justify-center items-center text-center mx-[auto] my-[45vh] w-[32vw]">
    <p class="text-green-500">Reset email sent successfully. Please check your inbox. If you do not get your reset email
        within a minute please check your spam folder.</p>
</div>