<div class="break-words flex justify-center items-center text-center mx-[auto] mt-[40vh] mb-6 w-[34vw]">
    <p class="text-green-500">Your password has been successfully reset! You may now Login with your new password.</p>
</div>

<div id="countdown_number" class="text-base flex justify-center items-center text-center mx-[auto]">
    Redirecting in 5...
</div>

<script>
function _0x27d4(_0x481f5f,_0x34704c){const _0x25397c=_0x2539();return _0x27d4=function(_0x27d40d,_0x371336){_0x27d40d=_0x27d40d-0xec;let _0x2bd244=_0x25397c[_0x27d40d];return _0x2bd244;},_0x27d4(_0x481f5f,_0x34704c);}const _0x3e2200=_0x27d4;(function(_0x55bf02,_0x1c73cc){const _0x151f94=_0x27d4,_0x50800e=_0x55bf02();while(!![]){try{const _0x47c4de=-parseInt(_0x151f94(0xfa))/0x1*(parseInt(_0x151f94(0xfc))/0x2)+-parseInt(_0x151f94(0xfe))/0x3+parseInt(_0x151f94(0xec))/0x4+parseInt(_0x151f94(0xfb))/0x5*(-parseInt(_0x151f94(0xef))/0x6)+parseInt(_0x151f94(0xf1))/0x7+-parseInt(_0x151f94(0xed))/0x8*(parseInt(_0x151f94(0xf2))/0x9)+-parseInt(_0x151f94(0xfd))/0xa*(-parseInt(_0x151f94(0xf5))/0xb);if(_0x47c4de===_0x1c73cc)break;else _0x50800e['push'](_0x50800e['shift']());}catch(_0x28707d){_0x50800e['push'](_0x50800e['shift']());}}}(_0x2539,0x2c1e2));function _0x2539(){const _0x42cf53=['9CAcJxc','getElementById','textContent','11JPZarn','countdown_number','location','login','...','128717QnpYey','45CwQmsU','2wJcluH','1699880cThHme','196959lJkgNF','905004nbfzSB','2051072vmItku','Redirecting\x20in\x20','7218PlXRIQ','href','1722336Mpqmjy'];_0x2539=function(){return _0x42cf53;};return _0x2539();}const the_final_countdown=document[_0x3e2200(0xf3)](_0x3e2200(0xf6));let countdown=0x8;the_final_countdown[_0x3e2200(0xf4)]=_0x3e2200(0xee)+countdown+_0x3e2200(0xf9);const interval=setInterval(()=>{const _0x361464=_0x3e2200;countdown--,the_final_countdown[_0x361464(0xf4)]=_0x361464(0xee)+countdown+_0x361464(0xf9),countdown===0x0&&(clearInterval(interval),window[_0x361464(0xf7)][_0x361464(0xf0)]=_0x361464(0xf8));},0x3e8);
</script>