<span class="font-semibold text-rose-700 mt-28 m-0 m-auto">User Exists</span>
<form action="/signup" method="POST" class="mt-8">
    <div class="flex justify-center items-center text-center">
        <input type="text" placeholder="Email" name="email"
            class="bg-gray-200 h-9 focus:outline-none focus:shadow-[inset_0_1px_1px_0_rgba(50,50,50,0.9)] text-sm text-gray-950 px-4 rounded-xl mt-3 mb-6 leading-3 w-56">
    </div>
    <div class="flex justify-center items-center text-center">
        <input type="password" placeholder="Password" name="password"
            class="bg-gray-200 h-9 focus:outline-none focus:shadow-[inset_0_1px_1px_0_rgba(50,50,50,0.9)] text-sm text-gray-950 px-4 rounded-xl mt-3 mb-9 leading-3 w-56">
    </div>
    <div class="flex justify-center items-center text-center">
        <button class="mb-margin-about hover:text-zinc-400">Signup</button>
    </div>
</form>