<form action="/signup" method="POST" class="mt-28">
    <div class="flex justify-center items-center text-center">
        <input type="email" placeholder="Email" name="email" id="email"
            class="bg-gray-200 h-9 focus:outline-none focus:shadow-[inset_0_1px_1px_0_rgba(50,50,50,0.9)] text-sm text-gray-950 px-4 rounded-xl mt-3 mb-6 leading-3 w-56">
    </div>
    <div class="flex justify-center items-center text-center">
        <input type="password" placeholder="Password" name="password" id="passw"
            class="bg-gray-200 h-9 focus:outline-none focus:shadow-[inset_0_1px_1px_0_rgba(50,50,50,0.9)] text-sm text-gray-950 px-4 rounded-xl mt-3 mb-9 leading-3 w-56">
    </div>
    <div class="flex justify-center items-center text-center">
        <button class="mb-margin-about" id="signup_butt"></button>
    </div>
</form>

<script>

    const letter = /[a-z]/;
    const upper = /[A-Z]/;
    const number = /[0-9]/;
    const symbols = /[!@#$%^&*(),.?":{}|<>]/;

    const signup_butt = document.querySelector("#signup_butt");
    const email = document.querySelector("#email");
    const passw = document.querySelector("#passw");


    signup_butt.addEventListener("click", function (e) {
        if (email.value == "") {
            e.preventDefault();
            alert("Please enter your email");
        }
        if (passw.value == "") {
            e.preventDefault();
            alert("Please enter your password");
        }

        else {
            return true;
        }
    });
</script>